In [ ]:
x=[2,3,6]           #1
sum=1
for i in x:
  sum=sum*i
  print(sum)

2
6
36

In [ ]:
x=[(2,5),(1,2),(4,4),(2,3),(2,1)]  #Q2
for k in range(len(x)-1):
  for i in range(len(x)-1):
    if x[i][1]>x[i+1][1]:
      x[i],x[i+1]=x[i+1],x[i]
      print(x)

[(1, 2), (2, 5), (4, 4), (2, 3), (2, 1)]
[(1, 2), (4, 4), (2, 5), (2, 3), (2, 1)]
[(1, 2), (4, 4), (2, 3), (2, 5), (2, 1)]
[(1, 2), (4, 4), (2, 3), (2, 1), (2, 5)]
[(1, 2), (2, 3), (4, 4), (2, 1), (2, 5)]
[(1, 2), (2, 3), (2, 1), (4, 4), (2, 5)]
[(1, 2), (2, 1), (2, 3), (4, 4), (2, 5)]
[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [ ]:
x=[('item1','12.20'),('item2','15.10'),('item3','24.5')]  #Q5
for k in range(len(x)-1):
  for i in range(len(x)-1):   
   x[i],x[i+1]=x[i+1],x[i]
  print(x)

[('item2', '15.10'), ('item3', '24.5'), ('item1', '12.20')]
[('item3', '24.5'), ('item1', '12.20'), ('item2', '15.10')]

In [ ]:
d1 = {'a': 100, 'b': 200, 'c':300}    #Q3

d2 = {'a': 300, 'b': 200, 'd':400}
for x in d1:
  if x in d2:
    d2[x]=d1[x]+d2[x]
else:
      d2[x]=d1[x]
      print(d2)

{'a': 400, 'b': 400, 'd': 400, 'c': 300}

In [ ]:
n=int(input("enter a number"))
dict={}
for i in range (1,n+1):    #  Q4
  dict[i]=i*i
print (dict)

enter a number8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}